{% extends 'components/sub_base.html' %}
{% load static %}

{% block site_title %}Person{% endblock %}

{% block content %}

<center>
    <div>
        <span><img src="/static/location/ตลาด.png" ></span>
    </div>

    <iframe src="https://drive.google.com/file/d/11F45vyuC3_Ef7blXgzV7HHCNYcYqO4To/preview" width="640" height="480" allow="autoplay"></iframe>

    <!-- Next -->
    <div>
    <button type="button" > <a href="สถานีตำรวจ"><img src="/static/Botton/left.png" width="120" height="120" > </a></button>
    <button type="button" > <a href="โรงพยาบาล"><img src="/static/Botton/right.png" width="120" height="120" > </a></button>
    </div>
</center>

{% endblock %}