{% extends 'components/sub_base.html' %}
{% load static %}

{% block site_title %}Normal life{% endblock %}

{% block content %}

<center>
    <div>
        <button class="button" type="button" > <a href="hungry"><img src="/static/Botton/left.png" width="120" height="120" > </a></button>
        <span><img src="/static/normal_life/12eat.png" width="170" height="170" ></span>
        <button class="button" type="button" > <a href="sleep"><img src="/static/Botton/right.png" width="120" height="120" > </a></button>
    </div>
    <iframe src="https://drive.google.com/file/d/1yvxT37mFhB3TOPrOtHnwtqxRPTWNbnkf/preview" width="640" height="480" allow="autoplay"></iframe>
    <div>
        <button class="button" type="button" > <a href="category"><img src="/static/Botton/home.png" width="120" height="120" > </a></button>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <button class="button" type="button" > <a href="NormalLife"><img src="/static/Botton/back.png" width="120" height="120" > </a></button>
    </div>
</center>

{% endblock %}