{% extends 'components/base.html' %}
{% load static %}

{% block site_title %}Home{% endblock %}

{% block content %}

<!-- Welcome -->
  <div class="bg2 px-2 py-2 text-center">
    <img class="d-block mx-auto mb-3" src="https://cdn.pixabay.com/photo/2014/04/02/16/16/hand-306759_1280.png" alt="" width="72" height="57">
      <h1 class="display-5 fw-bold">Welcome</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-3">สู่เว็บไซต์สอนภาษามือเพื่อการสื่อสาร สำหรับผู้พิการทางการได้ยินและการสื่อสาร</p>
    </div>
  </div>


<!-- Cards -->
  <div class="container">

    <div class="text-center">
      <p class="lead fw-bold mb-4">หมวดหมู่ - Category</p>    

    <div class="grid-container">
      <div class="card" style="background-image:url('/static/type/person.png');">
        <div class="content">
          <h3>บุคคล</h3>
          <h3>Person</h3>
          <div>
            <button type="button" > <a href="Person">Next </a></button>
          </div>
        </div>
      </div>
      <div class="card" style="background-image:url('/static/type/general.png');">
        <div class="content">
          <h3>ของใช้ทั่วไป</h3>
          <h3>General use</h3>
          <div>
            <button type="button" > <a href="General">Next </a></button>
          </div>
        </div>
      </div>
      <div class="card" style="background-image:url('/static/type/normal.png');">
        <div class="content">
          <h3>ชีวิตประจำวัน</h3>
          <h3>Nalmal life</h3>
          <div>
            <button type="button" > <a href="NormalLife">Next </a></button>
          </div>
        </div>
      </div>
      <div class="card" style="background-image:url('/static/type/location.png');">
        <div class="content">
          <h3>สถานที่</h3>
          <h3>Location</h3>
          <div>
            <button type="button" > <a href="Location">Next </a></button>
          </div>
        </div>
      </div>
      <div class="card" style="background-image:url('/static/type/number.png');">
        <div class="content">
          <h3>ตัวเลขราคา</h3>
          <h3>Numbers</h3>
          <div>
            <button type="button" > <a href="Number">Next </a></button>
          </div>
        </div>
      </div>
      <div class="card" style="background-image:url('/static/type/food.png');">
        <div class="content">
          <h3>ผักผลไม้</h3>
          <h3>Fruit , Vegetables</h3>
          <div>
            <button type="button" > <a href="Food">Next</a></button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>

{% endblock %}

