{% extends 'components/sub_base.html' %}
{% load static %}

{% block site_title %}General{% endblock %}

{% block content %}

<!-- Cards -->
  <div class="container">

    <div class="text-center ">
      <p class="py-4 lead fw-bold mb-3">ผักผลไม้ - Food and Vegetable</p> 
    
    <div class="grid-container">
      <div class="card" style="background-image:url('/static/food/1rice.png');">
      </div>

      <div class="card" style="background-image:url('/static/food/2rice(tree).png');">
      </div>

      <div class="card" style="background-image:url('/static/food/3orange.png');">
      </div>

      <div class="card" style="background-image:url('/static/food/4mango.png');">
      </div>

      <div class="card" style="background-image:url('/static/food/5longan.png');">
      </div>

      <div class="card" style="background-image:url('/static/food/6watermelon.png');">
      </div>

      <div class="card" style="background-image:url('/static/food/7durian.png');">
      </div>

      <div class="card" style="background-image:url('/static/food/8cucumber.png');">
      </div>

      <div class="card" style="background-image:url('/static/food/9cabbage.png');">
      </div>

      <div class="card" style="background-image:url('/static/food/10lettuce.png');">
      </div>

      <div class="card" style="background-image:url('/static/food/11morning.png');">
      </div>


    </div>

    <div class="py-5 text-center">
      {% comment %} <img class="d-block mx-auto" src="/static/Botton/home.png" alt="" width="102" height="87"> {% endcomment %}
      <button class="button_home" type="button" > <a href="category"><img src="/static/Botton/home.png" alt="" width="90" height="90" > </a></button>
    </div>

    </div>
  </div>

{% endblock %}