{% extends 'components/base.html' %}
{% load static %}

{% block site_title %}General{% endblock %}

{% block content %}

<center>
  <h2 >" General "</h2>

  {% for video in video %}
      <!-- Picture Prev and Next Button -->
    <!-- <center>
      <div>
          <button type="button" > <a href="{{video.title}}"><img src="/static/Botton/left.png" width="120" height="120" > </a></button>
          <span><img src="{{video.image}}" ></span>
          <button type="button" > <a href="ตะหลิว"><img src="/static/Botton/right.png" width="120" height="120" > </a></button>
      </div>

      <iframe src="{{video.link}}" width="640" height="480" allow="autoplay"></iframe>
    </center> -->
    <!-- <tr> {{video.id}} </tr>
    <tr> {{video.title}} </tr>
    <tr> {{video.link}} </tr>
    <tr> {{video.image}} </tr> -->

      <!-- block -->
    <div class = "General1">     
        <!-- <span><a href="{{video.title}}"><img src="{{video.image}}" ></a></span> -->
        <span><a href="{{video.title}}"><img src="{{video.image}}" ></a></span>
    </div>
  {% endfor %}

  <div style= "background-color: aquamarine;">
    <p>{{ video.title }}</p>
    <p>{{ video.link }}</p>
  </div>  

</center>

{% endblock %}
