{% extends 'components/sub_base.html' %}
{% load static %}

{% block site_title %}General{% endblock %}

{% block content %}

<!-- Cards -->
  <div class="container">

    <div class="text-center ">
      <p class="py-4 lead fw-bold mb-3">ของใช้ทั่วไป - General</p> 

    <div class="grid-container">
      <a href="กระทะ">
      <div class="card" style="background-image:url('/static/General/กระทะ.png');"></div>
      </a>

      <a href="เก้าอี้">
      <div class="card" style="background-image:url('/static/General/เก้าอี้.png');"></div>
      </a>

      <a href="จาน">
      <div class="card" style="background-image:url('/static/General/จาน.png');"></div>
      </a>

      <a href="ช้อน">
      <div class="card" style="background-image:url('/static/General/ช้อน.png');"></div>
      </a>

      <a href="ตะหลิว">      
      <div class="card" style="background-image:url('/static/General/ตะหลิว.png');"></div>
      </a>

      <a href="ตู้เย็น">      
        <div class="card" style="background-image:url('/static/General/ตู้เย็น.png');"></div>
        </a>

      <a href="ทัพพี">      
        <div class="card" style="background-image:url('/static/General/ทัพพี.png');"></div>
        </a>
      
      <a href="แปรงสีฟัน">      
        <div class="card" style="background-image:url('/static/General/แปรงสีฟัน.png');"></div>
        </a>
      

    </div>

    <div class="py-5 text-center">
      {% comment %} <img class="d-block mx-auto" src="/static/Botton/home.png" alt="" width="102" height="87"> {% endcomment %}
      <button class="button_home" type="button" > <a href="category"><img src="/static/Botton/home.png" alt="" width="90" height="90" > </a></button>
    </div>

    </div>
    </div>
  </div>

{% endblock %}