{% extends 'components/base.html' %}
{% load static %}

{% block site_title %}General{% endblock %}

{% block content %}

<center>
  <h2 >" General "</h2>


      <!-- Picture Prev and Next Button -->
    <!-- <center>
      <div>
          <button type="button" > <a href="{{video.title}}"><img src="/static/Botton/left.png" width="120" height="120" > </a></button>
          <span><img src="{{video.image}}" ></span>
          <button type="button" > <a href="ตะหลิว"><img src="/static/Botton/right.png" width="120" height="120" > </a></button>
      </div>

      <iframe src="{{video.link}}" width="640" height="480" allow="autoplay"></iframe>
    </center> -->
    <!-- <tr> {{video.id}} </tr>
    <tr> {{video.title}} </tr>
    <tr> {{video.link}} </tr>
    <tr> {{video.image}} </tr> -->

     <!-- Picture and Button -->
<center>
    <div>
        <span><button type="button" > <a href="กระทะ"><img src="/static/Botton/left.png" width="100" height="100" > </a></button></span>
        <span><img src="{{video.image}}" ></span>
        <span><button type="button" > <a href="จาน"><img src="/static/Botton/right.png " width="100" height="100" > </a></button></span>
    </div>
</center>

    <!-- Video -->
<center>
    <iframe src="{{video.link}}" width="640" height="480" allow="autoplay" ></iframe>
</center>


</center>

{% endblock %}
