<html>

<!-- <head>
    <title>Report Invoice</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src='/static/cpe.js'></script>
    <link rel='stylesheet' href='/static/cpe.css'>
</head> -->

<body>
    <H1>Report Invoice.</H1>
    <ul class="nav">
        <li><a href="/">Main</a></li>
        <li><a href="ReportListAllInvoices">Report list all invoices</a></li>
        <li><a href="ReportProductsSold">Report products sold</a></li>
        <li><a href="ReportListAllProducts">Report list all products</a></li>
        <li><a href="Food">Food</a></li>
        <li><a href="Location">Location</a></li>
        <li><a href="Number">Number</a></li>
        <li><a href="General">General</a></li>
        <li><a href="Person">Person</a></li>        

        <!-- <li><a href="ReportListAllPaymentMethod">Report list all payment method</a></li>
        <li><a href="ReportListAllReceipt">Report list all receipt</a></li>
        <li><a href="ReportUnpaidInvoices">Report unpaid invoices</a></li> -->
    </ul>
    <!--
        
    -->
    <div id="div-lab4"></div>
    {% block content %}
    {% endblock %}
</body>
</html>
