{% extends 'components/sub_base.html' %}
{% load static %}

{% block site_title %}General{% endblock %}

{% block content %}

<!-- Cards -->
  <div class="container">

    <div class="text-center ">
      <p class="py-4 lead fw-bold mb-3">สถานที่ - Location</p> 

    <div class="grid-container">
      <a href="โรงพยาบาล">
      <div class="card" style="background-image:url('/static/location/1โรงพยาบาล.png');"></div>
      </a>

      <a href="ตลาด">
      <div class="card" style="background-image:url('/static/location/2ตลาด.png');"></div>
      </a>

      <a href="สถานีตำรวจ">
      <div class="card" style="background-image:url('/static/location/3สถานีตำรวจ.png');"></div>
      </a>

      <a href="สถานีตำรวจ">
      <div class="card" style="background-image:url('/static/location/4โรงเรียน.png');"></div>
      </a>

      <a href="สถานีตำรวจ">      
      <div class="card" style="background-image:url('/static/location/5บ้าน.png');"></div>
      </a>

    </div>

    <div class="py-5 text-center">
      {% comment %} <img class="d-block mx-auto" src="/static/Botton/home.png" alt="" width="102" height="87"> {% endcomment %}
      <button class="button_home" type="button" > <a href="category"><img src="/static/Botton/home.png" alt="" width="90" height="90" > </a></button>
    </div>

    </div>
    </div>
  </div>

{% endblock %}