{% extends 'components/sub_base.html' %}
{% load static %}

{% block site_title %}General{% endblock %}

{% block content %}

<!-- Cards -->        
<div class="container">

    <div class="text-center">
      <p class="py-4 lead fw-bold mb-3">ชีวิตประจำวัน - Normal life</p> 

    <div class="grid-container">
      <a href="pay">
      <div class="card" style="background-image:url('/static/normal_life/1pay_homage.png');">
      </div>
      </a>

      <a href="pay">
      <div class="card" style="background-image:url('/static/normal_life/2sorry.png');">
      </div>
      </a>

      <a href="pay">
      <div class="card" style="background-image:url('/static/normal_life/3thx.png');">
      </div>
      </a>

      <a href="pay">
      <div class="card" style="background-image:url('/static/normal_life/4sad.png');">
      </div>
      </a>

      <a href="pay">
      <div class="card" style="background-image:url('/static/normal_life/5gl.png');">
      </div>
      </a>

      <a href="pay">
      <div class="card" style="background-image:url('/static/normal_life/6NFW.png');">
      </div>
      </a>

      <a href="pay">
      <div class="card" style="background-image:url('/static/normal_life/7well.png');">
      </div>
      </a>

      <a href="pay">
      <div class="card" style="background-image:url('/static/normal_life/8like.png');">
      </div>
      </a>

      <a href="pay">
      <div class="card" style="background-image:url('/static/normal_life/9dislike.png');">
      </div>

      <a href="pay">
      <div class="card" style="background-image:url('/static/normal_life/10love.png');">
      </div>
      </a>

      <a href="pay">
      <div class="card" style="background-image:url('/static/normal_life/11hungry.png');">
      </div>
      </a>

      <a href="pay">
      <div class="card" style="background-image:url('/static/normal_life/12eat.png');">
      </div>
      </a>

      <a href="pay">
      <div class="card" style="background-image:url('/static/normal_life/13sleep.png');">
      </div>
      </a>

      <a href="pay">
      <div class="card" style="background-image:url('/static/normal_life/14go.png');">
      </div>
      </a>

      <a href="pay">
      <div class="card" style="background-image:url('/static/normal_life/15come.png');">
      </div>
      </a>
    </div>

    <div class="py-5 text-center">
      <a href="category">
      <img class="d-block mx-auto" src="/static/Botton/home.png" alt="" width="102" height="87">
      </a>
      {% comment %} <button class="button_home" type="button" > <a href="category"><img src="/static/Botton/home.png" alt="" width="90" height="90" > </a></button> {% endcomment %}
    </div>

    </div>
    
    </div>
  </div>

{% endblock %}