{% extends 'components/sub_base.html' %}
{% load static %}

{% block site_title %}General{% endblock %}

{% block content %}

<!-- Cards -->        
<div class="container">

    <div class="text-center">
      <p class="py-4 lead fw-bold mb-3">ชีวิตประจำวัน - Normal life</p> 

    <div class="grid-container">
      <div class="card" style="background-image:url('/static/normal_life/1pay_homage.png');">
      </div>

      <div class="card" style="background-image:url('/static/normal_life/2sorry.png');">
      </div>

      <div class="card" style="background-image:url('/static/normal_life/3thx.png');">
      </div>

      <div class="card" style="background-image:url('/static/normal_life/4sad.png');">
      </div>

      <div class="card" style="background-image:url('/static/normal_life/5gl.png');">
      </div>

      <div class="card" style="background-image:url('/static/normal_life/6NFW.png');">
      </div>

      <div class="card" style="background-image:url('/static/normal_life/7well.png');">
      </div>

      <div class="card" style="background-image:url('/static/normal_life/8like.png');">
      </div>

      <div class="card" style="background-image:url('/static/normal_life/9dislike.png');">
      </div>

      <div class="card" style="background-image:url('/static/normal_life/10love.png');">
      </div>

      <div class="card" style="background-image:url('/static/normal_life/11hungry.png');">
      </div>

      <div class="card" style="background-image:url('/static/normal_life/12eat.png');">
      </div>

      <div class="card" style="background-image:url('/static/normal_life/13sleep.png');">
      </div>

      <div class="card" style="background-image:url('/static/normal_life/14go.png');">
      </div>

      <div class="card" style="background-image:url('/static/normal_life/15come.png');">
      </div>

      <div class="card" style="background-image:url('/static/normal_life/16wash.png');">
      </div>

      <div class="card" style="background-image:url('/static/normal_life/17washd.png');">
      </div>

      <div class="card" style="background-image:url('/static/normal_life/18dry.png');">
      </div>

      <div class="card" style="background-image:url('/static/normal_life/19shower.png');">
      </div>


    </div>

    <div class="py-5 text-center">
      <img class="d-block mx-auto" src="/static/Botton/home.png" alt="" width="102" height="87">
    </div>

    </div>
    
    </div>
  </div>

{% endblock %}