{% extends 'components/sub_base.html' %}
{% load static %}

{% block site_title %}General{% endblock %}

{% block content %}

<!-- Cards -->
  <div class="container">

    <div class="text-center ">
      <p class="py-4 lead fw-bold mb-3">ตัวเลข ราคา - Numbers</p> 

    <div class="grid-container">
      <div class="card" style="background-image:url('/static/number/0.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/1.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/2.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/3.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/4.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/5.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/6.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/7.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/8.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/9.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/10.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/11.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/12.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/13.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/14.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/15.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/16.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/17.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/18.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/19.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/20.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/30.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/40.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/50.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/60.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/70.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/80.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/90.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/13.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/14.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/15.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/16.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/17.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/18.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/19.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/20.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/30.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/40.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/50.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/60.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/70.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/80.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/90.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/13.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/14.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/15.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/16.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/17.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/18.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/19.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/20.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/30.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/40.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/50.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/60.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/70.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/80.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/90.png');">
      </div>

      <div class="card" style="background-image:url('/static/number/100.png');">
        </div>

      <div class="card" style="background-image:url('/static/number/200.png');">
        </div>

      <div class="card" style="background-image:url('/static/number/300.png');">
        </div>

      <div class="card" style="background-image:url('/static/number/400.png');">
        </div>

      <div class="card" style="background-image:url('/static/number/500.png');">
        </div>

      <div class="card" style="background-image:url('/static/number/600.png');">
        </div>

      <div class="card" style="background-image:url('/static/number/700.png');">
        </div>

      <div class="card" style="background-image:url('/static/number/800.png');">
        </div>

      <div class="card" style="background-image:url('/static/number/900.png');">
        </div>

      <div class="card" style="background-image:url('/static/number/1000.png');">
        </div>

      <div class="card" style="background-image:url('/static/number/1500.png');">
        </div>

      <div class="card" style="background-image:url('/static/number/100000.png');">
        </div>

      <div class="card" style="background-image:url('/static/number/1000000.png');">
        </div>

      <div class="card" style="background-image:url('/static/number/1000000.png');">
        </div>

      <div class="card" style="background-image:url('/static/number/A1บวก.png');">
        </div>

      <div class="card" style="background-image:url('/static/number/A2ลบ.png');">
        </div>

      <div class="card" style="background-image:url('/static/number/A3คูณ.png');">
        </div>

      <div class="card" style="background-image:url('/static/number/A4หาร.png');">
        </div>

      <div class="card" style="background-image:url('/static/number/A5เท่ากับ.png');">
        </div>
 
    </div>

    <div class="py-5 text-center">
      <img class="d-block mx-auto" src="/static/Botton/home.png" alt="" width="102" height="87">
    </div>

    </div>

    </div>
  </div>

</body>



    </div>
    </div>
  </div>

{% endblock %}