{% extends 'components/sub_base.html' %}
{% load static %}

{% block site_title %}General{% endblock %}

{% block content %}

<!-- Cards -->
  <div class="container">

    <div class="text-center ">
      <p class="py-4 lead fw-bold mb-3">ตัวเลข ราคา - Numbers</p> 

    <div class="grid-container">
      <a href="A1บวก">
      <div class="card" style="background-image:url('/static/number/A1บวก.png');"></div>
      </a>

      <a href="A2ลบ">
      <div class="card" style="background-image:url('/static/number/A2ลบ.png');"></div>
      </a>

      <a href="A3คูณ">
      <div class="card" style="background-image:url('/static/number/A3คูณ.png');"></div>
      </a>

      <a href="A4หาร">
      <div class="card" style="background-image:url('/static/number/A4หาร.png');"></div>
      </a>

      <a href="A5เท่ากับ">    
      <div class="card" style="background-image:url('/static/number/A5เท่ากับ.png');"></div>
      </a>

      <a href="N0">   
      <div class="card" style="background-image:url('/static/number/N0.png');"></div>
      </a>

      <a href="N1">
      <div class="card" style="background-image:url('/static/number/N1.png');"></div>
      </a>

      <a href="N2">
      <div class="card" style="background-image:url('/static/number/N2.png');"></div>
      </a>

      <a href="N3">
      <div class="card" style="background-image:url('/static/number/N3.png');"></div>
      </a>

      <a href="N4">
      <div class="card" style="background-image:url('/static/number/N4.png');"></div>
      </a>

      <a href="N5">
      <div class="card" style="background-image:url('/static/number/N5.png');"></div>
      </a>

      <a href="N6">
      <div class="card" style="background-image:url('/static/number/N6.png');"></div>
      </a>

      <a href="N7">
      <div class="card" style="background-image:url('/static/number/N7.png');"></div>
      </a>

      <a href="N8">
      <div class="card" style="background-image:url('/static/number/N8.png');"></div>
      </a>

      <a href="N9">
      <div class="card" style="background-image:url('/static/number/N9.png');"></div>
      </a>

      <a href="N10">
      <div class="card" style="background-image:url('/static/number/N10.png');"></div>
      </a>

      <a href="N11">
      <div class="card" style="background-image:url('/static/number/N11.png');"></div>
      </a>

      <a href="N12">
      <div class="card" style="background-image:url('/static/number/N12.png');"></div>
      </a>

      <a href="N13">
      <div class="card" style="background-image:url('/static/number/N13.png');"></div>
      </a>

      <a href="N14">
      <div class="card" style="background-image:url('/static/number/N14.png');"></div>
      </a>

      <a href="N15">
      <div class="card" style="background-image:url('/static/number/N15.png');"></div>
      </a>

      <a href="N20">
      <div class="card" style="background-image:url('/static/number/N20.png');"></div>
      </a>

      <a href="N30">
      <div class="card" style="background-image:url('/static/number/N30.png');"></div>
      </a>

      <a href="N40">
      <div class="card" style="background-image:url('/static/number/N40.png');"></div>
      </a>

      <a href="N50">
      <div class="card" style="background-image:url('/static/number/N50.png');"></div>
      </a>

      <a href="N60">
      <div class="card" style="background-image:url('/static/number/N60.png');"></div>
      </a>

      <a href="N70">
      <div class="card" style="background-image:url('/static/number/N70.png');"></div>
      </a>

      <a href="N80">
      <div class="card" style="background-image:url('/static/number/N80.png');"></div>
      </a>

      <a href="N90">
      <div class="card" style="background-image:url('/static/number/N90.png');"></div>
      </a>

      <a href="N100">
      <div class="card" style="background-image:url('/static/number/N100.png');"></div>
      </a>

      <a href="N1000">
      <div class="card" style="background-image:url('/static/number/N1000.png');"></div>
      </a>

    </div>


    <div class="py-5 text-center">
      <a href="category">
      <img class="d-block mx-auto" src="/static/Botton/home.png" alt="" width="102" height="87">
      <!-- <button class="button_home" type="button" > <a href="category"><img src="/static/Botton/home.png" alt="" width="90" height="90" > </a></button> -->
      </a>
    </div>

    </div>

    </div>
  </div>

</body>



    </div>
    </div>
  </div>

{% endblock %}