<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <header style='background-color: pink;'>
        <a href = category>One for All<a/>
        <a href= category>ภาษามือเพื่อการสื่อสาร</a>
    </header>
    <header style="background-color: lightgray;">
        <a href= category >หมวดหมู่</a>
        <a href= about >เกี่ยวกับ</a>
    </header>
    <div>
        <!-- <h2>วิดีโอคลิปสอนภาษามือสำหรับผู้พิการทางการได้ยิน</h2> -->
        <h2>Number</h2>
    </div>

<!-- {% block content %}
    <iframe width="420" height="345" src="https://www.youtube.com/embed/b8iNn43M3xg">
    </iframe>
    <iframe src="https://drive.google.com/file/d/1ALaa9Ygidk9IEhHR9eThYcjp-pLMotJN/preview" width="640" height="480" allow="autoplay"></iframe>

    <table id='maintable' class='table'>
      
        <tr>
            <th>#</th>
            {% for name in column_name %}
            <th>{{ name }} </th>
            {% endfor %}
        </tr>
        
        {% for lineitem in data %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ lineitem.name_food }}</td>
            <td>{{ lineitem.urls_food }}</td>            
        <tr>
        {% endfor %}

{% endblock %} -->
    

{% comment %} <iframe src="https://drive.google.com/file/d/1Z3CHWLTOFF6QbnBI8yiSa9OGsrIttIWK/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>ศูนย์</h3>

<iframe src="https://drive.google.com/file/d/1LxlP6f3CLjH0wQRCXjSas6B1ot9zcJtL/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>หนึ่ง</h3>

<iframe src="https://drive.google.com/file/d/1T-eQe1kEQ2k2yJvj84bfJP8n02bVy9X6/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>สอง</h3>

<iframe src="https://drive.google.com/file/d/1NTluSrhJpRDhAQjJzwvGxaXOu6jMQvAy/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>สาม</h3>

<iframe src="https://drive.google.com/file/d/1JgEhtHpnFDcczM3AelJG9siyFsBk-HDI/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>สี่</h3>

<iframe src="https://drive.google.com/file/d/1CmG38WUge1qfWZufq6oaaKEzhJLcs5-Q/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>ห้า</h3>

<iframe src="https://drive.google.com/file/d/1hs2fReIeUkTHIRUNZFDq56G1DCcKxGY2/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>หก</h3>

<iframe src="https://drive.google.com/file/d/1lzCAiNXW3XG9484ED8UEO2nOVi9Op0bu/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>เจ็ด</h3>

<iframe src="https://drive.google.com/file/d/1qxL8ra83Y7UhDkUjgRr-CRQjL0cfcenM/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>แปด</h3>

<iframe src="https://drive.google.com/file/d/1MHD21pmG-D878rxbQyZAbJLZmE553ykF/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>เก้า</h3>

<iframe src="https://drive.google.com/file/d/1ieoRUrP5VdP6wcB_kGciFnJ4QP2FR-_x/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>สิบ</h3>

<iframe src="https://drive.google.com/file/d/1K9mRHdVcqo7zTpmc11yzKKaf1sPfRdol/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>สิบเอ็ด</h3>

<iframe src="https://drive.google.com/file/d/1mlcCRKIWdrq-gZiQKgP7a4Fi9Uf-nFtm/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>สิบสอง</h3>

<iframe src="https://drive.google.com/file/d/1wkRn5SZRwmAsHbu-W4QAFDCO3eFffzMF/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>สิบสาม</h3>

<iframe src="https://drive.google.com/file/d/1QNpnHejti729hTxcVjwjJH3FjeySyjkG/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>สิบสี่</h3>

<iframe src="https://drive.google.com/file/d/1GHMkzDrKPKj2NTkYLK60Xbwvh2OHq5mb/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>สิบห้า</h3>

<iframe src="https://drive.google.com/file/d/1q9ZhtCeZPRGLueYgiJ4_VH7g7D5XnfuQ/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>สิบหก</h3>

<iframe src="https://drive.google.com/file/d/1ctCxw2QhdQbIjtMQrCQl_inWegHUhFkH/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>สิบเจ็ด</h3>

<iframe src="https://drive.google.com/file/d/1MNZmYf7Xx4C3OKoWnUsgd7gJtbMHPBnu/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>สิบแปด</h3>

<iframe src="https://drive.google.com/file/d/1TshuciYN2gcbqTOR_hnexDT0DkT7fEvl/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>สิบเก้า</h3>

<iframe src="https://drive.google.com/file/d/1Iay6Cca1-SHKLeCY9XhpMkqU6JnU5fVM/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>ยี่สิบ</h3>

<iframe src="https://drive.google.com/file/d/1QXYCBZ1EituNKPlF4rfg5-ycpgx0KC2I/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>สามสิบ</h3>

<iframe src="https://drive.google.com/file/d/1rXCGDJQ62AoJEipUKATfseo4bwLbCubn/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>สี่สิบ</h3>

<iframe src="https://drive.google.com/file/d/18rSWC2uX3u-5t8VakWMO8oppx4Xm-TC8/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>ห้าสิบ</h3>

<iframe src="https://drive.google.com/file/d/1muTlW4W7tg8vFhSdQDQmDvl5RmMUULvm/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>หกสิบ</h3>

<iframe src="https://drive.google.com/file/d/1li_64Fg4Zj8t_vBASnUed4M_H_Lk20XQ/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>เจ็ดสิบ</h3>

<iframe src="https://drive.google.com/file/d/1SxkYcka5FoGCElSIjXXCaQ0SYSbeTsdd/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>แปดสิบ</h3>

<iframe src="https://drive.google.com/file/d/1crtOeNFz07gYsuDNBUT7-k2whmVV-Eui/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>เก้าสิบ</h3>

<iframe src="https://drive.google.com/file/d/1VKsyDd2AWM5UKStXoSMyhAbQR1Lzcfgu/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>หนึ่งร้อย</h3>

<iframe src="https://drive.google.com/file/d/1o5c8BuXwQz59BDcbO5joH7_gwoY26hor/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>หนึ่งพัน</h3>

<iframe src="https://drive.google.com/file/d/1jnhGZ6KZ_0KTia6QlvSrW5pT1ups6tPr/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>หนึ่งหมื่น</h3>

<iframe src="https://drive.google.com/file/d/1zUWePjfct33qc7E1P3OfxQjzyX17Cz0M/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>หนึ่งล้าน</h3>

<iframe src="https://drive.google.com/file/d/19HUPmR1hdnJx2h6JZS-O6NOXd282Ll2Q/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>บวก</h3>

<iframe src="https://drive.google.com/file/d/1FY1Fu7b-j2GMV_jzzUGf7nWJ9dbNRZnQ/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>ลบ</h3>

<iframe src="https://drive.google.com/file/d/1gJK9exWDS3f4cNjRqH_nnJaW5C0H1Adw/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>คูณ</h3>

<iframe src="https://drive.google.com/file/d/1EbDQrfJyLV1_oSBp7jHW4Wzathk4YlfH/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>หาร</h3>

<iframe src="https://drive.google.com/file/d/1wutao4b0guCMMlUbKKmUoKIUeJlYSnix/preview" width="640" height="480" allow="autoplay"></iframe>
<h3>เท่ากับ</h3> {% endcomment %}

<footer style="background-color: lightgray;">
    <h5>Project CPE327 : Software Engineering</h5>
    <p>นักศึกษาชั้นปีที่ 3 : Computer engineerign, KMUTT</p>
    <p>Copyright 2022 Sign_language. All right reserved.</p>
</footer>

</body>
</html>