{% extends 'components/base.html' %}
{% load static %}

{% block site_title %}General{% endblock %}

{% block content %}
<!-- Cards -->
  <div class="container">

    <div class="text-center">
      <p class="lead fw-bold mb-4">บุคคล - Person</p> 

    <div class="grid-container">
      <div class="card" style="background-image:url('/static/person/me.png');">
      </div>

      <div class="card" style="background-image:url('/static/person/you.png');">
      </div>

      <div class="card" style="background-image:url('/static/person/she.png');">
      </div>

      <div class="card" style="background-image:url('/static/person/we.png');">
      </div>

      <div class="card" style="background-image:url('/static/person/they.png');">
      </div>

      <div class="card" style="background-image:url('/static/person/oldbro.png');">
      </div>

      <div class="card" style="background-image:url('/static/person/dad.png');">
      </div>

      <div class="card" style="background-image:url('/static/person/mom.png');">
      </div>

      <div class="card" style="background-image:url('/static/person/baby.png');">
      </div>

      <div class="card" style="background-image:url('/static/person/man.png');">
      </div>

      <div class="card" style="background-image:url('/static/person/woman.png');">
      </div>

      <div class="card" style="background-image:url('/static/person/youngbro.png');">
      </div>

      <div class="card" style="background-image:url('/static/person/grandfather.png');">
      </div>

      <div class="card" style="background-image:url('/static/person/grandmother.png');">
      </div>

      <div class="card" style="background-image:url('/static/person/grandfather2.png');">
      </div>

      <div class="card" style="background-image:url('/static/person/grandmother2.png');">
      </div>

      <div class="card" style="background-image:url('/static/person/uncle.png');">
      </div>

      <div class="card" style="background-image:url('/static/person/oldsis.png');">
      </div>

      <div class="card" style="background-image:url('/static/person/aunt.png');">
      </div>

      <div class="card" style="background-image:url('/static/person/aunt2.png');">
      </div>

      <div class="card" style="background-image:url('/static/person/auncle.png');">
      </div>

      <div class="card" style="background-image:url('/static/person/grandchild.png');">
      </div>

      <div class="card" style="background-image:url('/static/person/monk.png');">
      </div>

      <div class="card" style="background-image:url('/static/person/youngsis.png');">
      </div>

      <div class="card" style="background-image:url('/static/person/child.png');">
      </div>

      <div class="card" style="background-image:url('/static/person/teenager.png');">
      </div>

      <div class="card" style="background-image:url('/static/person/adult.png');">
      </div>

      <div class="card" style="background-image:url('/static/person/elderly.png');">
      </div>


    </div>
    </div>
  </div>

{% endblock %}