{% extends 'components/sub_base.html' %}
{% load static %}

{% block site_title %}General{% endblock %}

{% block content %}

<!-- Cards -->
  <div class="container">

    <div class="text-center ">
      <p class="py-4 lead fw-bold mb-3">บุคคล - Person</p> 

    <div class="grid-container">
      <a href="me">
        <div class="card" style="background-image:url('/static/person/me.png');"></div>
      </a>

      <a href="you">
        <div class="card" style="background-image:url('/static/person/you.png');"></div>
      </a>

      <a href="she">
        <div class="card" style="background-image:url('/static/person/she.png');"></div>
      </a> 

      <a href="we">
        <div class="card" style="background-image:url('/static/person/we.png');"></div>
      </a>

      <a href="they">
        <div class="card" style="background-image:url('/static/person/they.png');"></div>
      </a>

      <a href="dad">
        <div class="card" style="background-image:url('/static/person/dad.png');"></div>
      </a>
  
      <a href="mom">
        <div class="card" style="background-image:url('/static/person/mom.png');"></div>
      </a>

      <a href="baby">
        <div class="card" style="background-image:url('/static/person/baby.png');"></div>
      </a>

      <a href="man">
        <div class="card" style="background-image:url('/static/person/man.png');"></div>
      </a>
  
      <a href="woman">
        <div class="card" style="background-image:url('/static/person/woman.png');"></div>
      </a>

      <a href="grandfather">
        <div class="card" style="background-image:url('/static/person/grandfather.png');"></div>
      </a>

      <a href="grandmother">
        <div class="card" style="background-image:url('/static/person/grandmother.png');"></div>
      </a>

      <a href="grandfather2">
        <div class="card" style="background-image:url('/static/person/grandfather2.png');"></div>
      </a>

      <a href="grandmother2">
        <div class="card" style="background-image:url('/static/person/grandmother2.png');"></div>
      </a>

      <a href="uncle">
        <div class="card" style="background-image:url('/static/person/uncle.png');"></div>
      </a>

      <a href="aunt">
        <div class="card" style="background-image:url('/static/person/aunt.png');"></div>
      </a>

      <a href="aunt2">
        <div class="card" style="background-image:url('/static/person/aunt2.png');"></div>
      </a>

      <a href="aucle">
        <div class="card" style="background-image:url('/static/person/aucle.png');"></div>
      </a>

      <a href="grandchild">
        <div class="card" style="background-image:url('/static/person/grandchild.png');"></div>
      </a>

      <a href="oldbro">
        <div class="card" style="background-image:url('/static/person/oldbro.png');"></div>
      </a>

      <a href="youngbro">
        <div class="card" style="background-image:url('/static/person/youngbro.png');"></div>
      </a>

      <a href="oldsis">
        <div class="card" style="background-image:url('/static/person/oldsis.png');"></div>
      </a>

      <a href="youngsis">
        <div class="card" style="background-image:url('/static/person/youngsis.png');"></div>
      </a>

      <a href="child">
        <div class="card" style="background-image:url('/static/person/child.png');"></div>
      </a>

      <a href="teenager">
        <div class="card" style="background-image:url('/static/person/teenager.png');"></div>
      </a>

      <a href="adult">
        <div class="card" style="background-image:url('/static/person/adult.png');"></div>
      </a>

      <a href="elderly">
        <div class="card" style="background-image:url('/static/person/elderly.png');"></div>
      </a>

      <a href="monk">
        <div class="card" style="background-image:url('/static/person/monk.png');"></div>
      </a>

    </div>

    <div class="py-5 text-center">
      <img class="d-block mx-auto" src="/static/Botton/home.png" alt="" width="102" height="87">
    </div>

    </div>

    </div>
  </div>

</body>



    </div>
    </div>
  </div>

{% endblock %}