<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <header style='background-color: pink;'>
        <a href = category>One for All<a/>
        <a href= category>ภาษามือเพื่อการสื่อสาร</a>
    </header>
    <header style="background-color: lightgray;">
        <a href= category >หมวดหมู่</a>
        <a href= about >เกี่ยวกับ</a>
    </header>

    <h2>Person</h2>

    <!-- block 1  -->
    <div class = "Person1">     
        <span><a href="ฉัน"><img src="/static/person/me.png" ></a></span>
        <span><a href="เธอ"><img src="/static/person/you.png" ></a></span>
        <span><a href="เขา"><img src="/static/person/she.png" ></a></span>
        <span><a href="พวกเรา"><img src="/static/person/we.png" ></a></span>
        <span><a href="พวกเขา"><img src="/static/person/they.png" ></a></span>
        <span><a href="พี่ชาย"><img src="/static/person/oldbro.png" ></a></span>
    </div>

    <!-- block 2  -->
    <div class = "Person2">     
        <span><a href="พ่อ"><img src="/static/person/dad.png" ></a></span>
        <span><a href="แม่"><img src="/static/person/mom.png" ></a></span>
        <span><a href="ลูก"><img src="/static/person/baby.png" ></a></span>
        <span><a href="ผู้ชาย"><img src="/static/person/man.png" ></a></span>
        <span><a href="ผู้หญิง"><img src="/static/person/woman.png" ></a></span>
        <span><a href="น้องชาย"><img src="/static/person/youngbro.png" ></a></span>
    </div>

    <!-- block 3  -->
    <div class = "Person3">     
        <span><a href="ปู่"><img src="/static/person/grandfather.png" ></a></span>
        <span><a href="ย่า"><img src="/static/person/grandmother.png" ></a></span>
        <span><a href="ตา"><img src="/static/person/grandfather2.png" ></a></span>
        <span><a href="ยาย"><img src="/static/person/grandmother2.png" ></a></span>
        <span><a href="ลุง"><img src="/static/person/uncle.png" ></a></span>
        <span><a href="พี่สาว"><img src="/static/person/oldsis.png" ></a></span>
    </div>

    <!-- block 4  -->
    <div class = "Person4">     
        <span><a href="ป้า"><img src="/static/person/aunt.png" ></a></span>
        <span><a href="น้า"><img src="/static/person/aunt2.png" ></a></span>
        <span><a href="อา"><img src="/static/person/auncle.png" ></a></span>
        <span><a href="หลาน"><img src="/static/person/grandchild.png" ></a></span>
        <span><a href="พระ"><img src="/static/person/monk.png" ></a></span>
        <span><a href="น้องสาว"><img src="/static/person/youngsis.png" ></a></span>
    </div>

    <!-- block 5  -->
    <div class = "Person5">     
        <span><a href="เด็ก"><img src="/static/person/child.png" ></a></span>
        <span><a href="วัยรุ่น"><img src="/static/person/teenager.png" ></a></span>
        <span><a href="วัยผู้ใหญ่"><img src="/static/person/adult.png" ></a></span>
        <span><a href="คนชรา"><img src="/static/person/elderly.png" ></a></span>
    </div>

<footer style="background-color: lightgray;">
    <h5>Project CPE327 : Software Engineering</h5>
    <p>นักศึกษาชั้นปีที่ 3 : Computer engineerign, KMUTT</p>
    <p>Copyright 2022 Sign_language. All right reserved.</p>
</footer>

</body>
</html>