<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <header style='background-color: pink;'>
        <a href = category>One for All<a/>
        <a href= category>ภาษามือเพื่อการสื่อสาร</a>
    </header>
    <header style="background-color: lightgray;">
        <a href= category >หมวดหมู่</a>
        <a href= about >เกี่ยวกับ</a>
    </header>

    <h2>Person</h2>

    <!-- block 1  -->
    <div class = "Person1">     
        <span><a href="ข้าว"><img src="/static/food/1rice.png" ></a></span>
        <span><a href="ต้นข้าว"><img src="/static/food/2rice(tree).png" ></a></span>
        <span><a href="ส้ม"><img src="/static/food/3orange.png" ></a></span>
        <span><a href="มะม่วง"><img src="/static/food/4mango.png" ></a></span>
        <span><a href="ลำไย"><img src="/static/food/5longan.png" ></a></span>
        <span><a href="แตงโม"><img src="/static/food/6watermelon.png" ></a></span>
    </div>

    <!-- block 2  -->
    <div class = "Person2">     
        <span><a href="ทุเรียน"><img src="/static/food/7durian.png" ></a></span>
        <span><a href="แตงกวา"><img src="/static/food/8cucumber.png" ></a></span>
        <span><a href="กะหล่ำปลี"><img src="/static/food/9cabbage.png" ></a></span>
        <span><a href="ผักกาด"><img src="/static/food/10lettuce.png" ></a></span>
        <span><a href="ผักบุ้ง"><img src="/static/food/11morning.png" ></a></span>
    </div>

<footer style="background-color: lightgray;">
    <h5>Project CPE327 : Software Engineering</h5>
    <p>นักศึกษาชั้นปีที่ 3 : Computer engineerign, KMUTT</p>
    <p>Copyright 2022 Sign_language. All right reserved.</p>
</footer>

</body>
</html>