{% extends 'components/sub_base.html' %}
{% load static %}

{% block site_title %}Location{% endblock %}

{% block content %}
    
    <!-- Picture -->
<center>
    <div>
        <button class="button" type="button" > <a href="ตะหลิว"><img src="/static/Botton/left.png" width="120" height="120" > </a></button>
        <span><img src="/static/General/ตู้เย็น.png" width="170" height="170"  ></span>
        <button class="button" type="button" > <a href="ทัพพี"><img src="/static/Botton/right.png" width="120" height="120" > </a></button>
    </div>

    <!-- Video -->
    <iframe src="https://drive.google.com/file/d/1m4VMSE21S95eYdqRAiGHr3PMit0Gj3N6/preview" width="640" height="480" allow="autoplay"></iframe>

    <!-- Prev and Next Button-->
    <div>
        <button class="button" type="button" > <a href="/category"><img src="/static/Botton/home.png" width="120" height="120" > </a></button>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <button class="button" type="button" > <a href="/General"><img src="/static/Botton/back.png" width="120" height="120" > </a></button>
    </div>
</center>

    {% endblock %}