{% extends 'components/sub_base.html' %}
{% load static %}

{% block site_title %}Location{% endblock %}

{% block content %}
    <!-- Picture -->
    <div>
        <span><img src="/static/General/ส้อม.png" ></span>
    </div>

    <!-- Video -->
    <iframe src="https://drive.google.com/file/d/1ZWMKXOzoaedswTCG8UnXBmU9ThxJXCRr/preview" width="640" height="480" allow="autoplay"></iframe>

    <!-- Prev and Next Button-->
    <div>
        <button type="button" > <a href="สบู่"><img src="/static/Botton/left.png" width="120" height="120" > </a></button>
        <button type="button" > <a href="หม้อ"><img src="/static/Botton/right.png" width="120" height="120" > </a></button>
    </div>
    {% endblock %}