{% extends 'components/sub_base.html' %}
{% load static %}

{% block site_title %}Location{% endblock %}

{% block content %}
    
    <!-- Picture -->
    <div>
        <span><img src="/static/General/หม้อ.png" ></span>
    </div>

    <!-- Video -->
    <iframe src="https://drive.google.com/file/d/10-4HUe4kwNe1xPJhGNm-k8nvYJkGAGeN/preview" width="640" height="480" allow="autoplay"></iframe>

    <!-- Prev -->
    <div>
        <button type="button" > <a href="ส้อม"><img src="/static/Botton/left.png" width="120" height="120" > </a></button>
    </div>

    {% endblock %}