<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <header style='background-color: pink;'>
        <a href = category>One for All<a/>
        <a href= category>ภาษามือเพื่อการสื่อสาร</a>
    </header>
    <header style="background-color: lightgray;">
        <a href= category >หมวดหมู่</a>
        <a href= about >เกี่ยวกับ</a>
    </header>

    <h2>Person</h2>

    <!-- block 1  -->
    <div class = "Person1">     
        <span><a href="ไม้กวาด"><img src="/static/General/1ไม้กวาด.png" ></a></span>
        <span><a href="ไม้ถูพื้น"><img src="/static/General/2ไม้ถูพื้น.png" ></a></span>
        <span><a href="แปรงสีฟัน"><img src="/static/General/3แปรงสีฟัน.png" ></a></span>
        <span><a href="ยาสีฟัน"><img src="/static/General/4ยาสีฟัน.png" ></a></span>
        <span><a href="น้ำยาซักผ้า"><img src="/static/General/5น้ำยาซักผ้า.png" ></a></span>
        <span><a href="สบู่"><img src="/static/General/6สบู่.png" ></a></span>
    </div>

    <!-- block 2  -->
    <div class = "Person2">     
        <span><a href="ยาสระผม"><img src="/static/General/7ยาสระผม.png" ></a></span>
        <span><a href="รองเท้า"><img src="/static/General/8รองเท้า.png" ></a></span>
        <span><a href="เก้าอี้"><img src="/static/General/9เก้าอี้.png" ></a></span>
        <span><a href="จาน"><img src="/static/General/10จาน.png" ></a></span>
        <span><a href="ถ้วย"><img src="/static/General/11ถ้วย.png" ></a></span>
        <span><a href="ช้อน"><img src="/static/General/12ช้อน.png" ></a></span>
    </div>

    <!-- block 3  -->
    <div class = "Person3">     
        <span><a href="ส้อม"><img src="/static/General/13ส้อม.png" ></a></span>
        <span><a href="ตู้เย็น"><img src="/static/General/14ตู้เย็น.png" ></a></span>
        <span><a href="กระทะ"><img src="/static/General/15กระทะ.png" ></a></span>
        <span><a href="ตะหลิว"><img src="/static/General/16ตะหลิว.png" ></a></span>
        <span><a href="หม้อ"><img src="/static/General/17หม้อ.png" ></a></span>
        <span><a href="ทัพพี"><img src="/static/General/18ทัพพี.png" ></a></span>
    </div>

<footer style="background-color: lightgray;">
    <h5>Project CPE327 : Software Engineering</h5>
    <p>นักศึกษาชั้นปีที่ 3 : Computer engineerign, KMUTT</p>
    <p>Copyright 2022 Sign_language. All right reserved.</p>
</footer>

</body>
</html>