<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <header style='background-color: pink;'>
        <a href = category>One for All</a>
        <a href= category>ภาษามือเพื่อการสื่อสาร</a>
    </header>
    <header style="background-color: lightgray;">
        <a href= category >หมวดหมู่</a>
        <a href= about >เกี่ยวกับ</a>
    </header>

    <!-- Picture and Button -->
<center>
    <div>
        <span><button type="button" > <a href="กระทะ"><img src="/static/Botton/left.png" width="100" height="100" > </a></button></span>
        <span><img src="/static/General/เก้าอี้.png" ></span>
        <span><button type="button" > <a href="จาน"><img src="/static/Botton/right.png " width="100" height="100" > </a></button></span>
    </div>
</center>

    <!-- Video -->
<center>
    <iframe src="https://drive.google.com/file/d/1SFpiU52mouz-zlR4q26bWjYYGRBvroXI/preview" width="640" height="480" allow="autoplay" ></iframe>
</center>
    

<footer style="background-color: lightgray;">
    <h5>Project CPE327 : Software Engineering</h5>
    <p>นักศึกษาชั้นปีที่ 3 : Computer engineerign, KMUTT</p>
    <p>Copyright 2022 Sign_language. All right reserved.</p>
</footer>

</body>
</html>